.author-stripe {
  background-color: #1F2023;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.author-stripe-written-by {
  color: #FE6A6A;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.author-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: 40px 0;
}

.author-text {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f7f7f7;
  height: 200px;
  text-align: left;
  flex-direction: column;
  justify-content: space-evenly;
}

.author-image {
  width: 200px;
  height: 200px;
  margin-right: 40px;
}

.author-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 44px;
}

.author-bio {
  font-family: 'Source Sans Pro', sans-serif;
}

.links {
  display: flex;
  justify-items: center;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}

.link {
  width: 32px;
  height: 32px;
  margin: 8px;
}

.article-credit {
  width: 100%;
  height: 40px;
  background-color: #27292d;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;

  & a{
    color: #f7f7f7;
  }
}

@media only screen and (max-width: 600px) {

  .author-image {
    width: 160px;
    height: 160px;
    margin: 0;
  }

  .author-details {
    flex-direction: column;
    align-items: center;
    height: auto
  }

  .author-text {
    margin-top: 24px;
    align-items: center;
    height: auto;
  }

  .links {
    margin-top: 4px;
  }

  .link {
    width: 24px;
    height: 24px;
  }

}
